[submodule "dynobench"]
	path = dynobench
	# url = git@github.com:quimortiz/dynobench
	url = git@github.com:imngui/dynobench.git
	branch = tmp-dev
[submodule "deps/nigh"]
	path = deps/nigh
	url = https://github.com/UNC-Robotics/nigh.git
[submodule "dynomotions"]
	path = dynomotions
	url = git@github.com:quimortiz/dynomotions.git
